.header{
    background: url("https://bit.ly/3aMibok")no-repeat center center/cover;
    height: 80vh;
    color: #fff;
}
ul li{
    float:right;
    list-style-type: none;
    padding: 20px 40px;
    display: block;
    text-decoration: none;
}
ul li a{
    list-style-type: none;
    text-decoration: none;
    font-size: 30px;
}
.nav-bar {
    float: right;
    list-style-type:none;
    text-decoration: none;
}
ul li a:hover{
    background-color: #fff;
    color:black;
}
.header p{
    display: inline-block;
    color: black; 
    font-size: 100px;
    font-family : 'Nosifer', cursive;
}
#gallery{
    background-color:purple;
    padding: 20px;
} 
.about p{
    width: 100%;
} 
