.header{
    background: url("https://bit.ly/3aMibok")no-repeat center center/cover;
    height: 80vh;
    color: #fff;
}
ul li{
    float:right;
    list-style-type: none;
    padding: 20px 40px;
    display: block;
    text-decoration: none;
}
ul li a{
    list-style-type: none;
    text-decoration: none;
    font-size: 30px;
}
.nav-bar {
    float: right;
    list-style-type:none;
    text-decoration: none;
}
ul li a:hover{
    background-color: #fff;
    color:black;
}
.header p{
    display: inline-block;
    color: black; 
    font-size: 100px;
    font-family : 'Nosifer', cursive;
}
#gallery{
    background-color:purple;
    padding: 20px;
} 
.about p{
    width: 100%;
} 

.order-form .container {
    color: #4c4c4c;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  }

  .order-form-label {
    margin: 8px 0 0 0;
    font-size: 14px;
    font-weight: bold;
  }

  .order-form-input {
    width: 100%;
    padding: 8px 8px;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 3px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    background-color: transparent;
    border-color: #cccccc;
  }

  .btn-submit:hover {
    background-color: #090909 !important;
  }
  form{
    width: 50%;
    margin: 0 auto;
}
.contacts{ background: url("https://bit.ly/3aMibok")no-repeat center center/cover;
    height: 60vh;
    color: #fff;}
